{% extends 'dash.html' %}
{% comment %} {% extends 'base.html' %} {% endcomment %}

{% load crispy_forms_tags %}

{% block content %}

<p style="margin-top: 10px;"> Welcome Admin <strong>{{user.username}}</strong> 
    {% comment %} <a href="{% url 'adminpage' %}"  style="margin-left: 500px;">My DashBoard</a></p> {% endcomment %}

<center><a href="AddProj" style="margin-top:50px;margin-bottom:20px; " class="btn btn-developer btn-lg" role="button">Add Project Assignment</a></center>
<center><a href="View" style="margin-top:50px;margin-bottom:20px; " class="btn btn-developer btn-lg" role="button">View Assignments</a></center>
<center><a href="ShowTapp" style="margin-top:50px;margin-bottom:50px; " class="btn btn-developer btn-lg" role="button">Show Teamleads Submissions</a></center>
<script> 
    {% comment %} const button = document.getElemenstById("Adminpagebtn"); {% endcomment %}
    document.getElementById("Adminpagebtn").focus();
    document.getElementById("Adminpagebtn").style.backgroundColor = '#e9ecef';
    document.getElementById("Adminpagebtn").style.color = '#495057';
    {% comment %} button.classList.toggle("list-group-item-light") {% endcomment %}
</script>

{% endblock %}

