{% extends 'base.html' %}

{% block content %}

Welcome Developer {{user.username}} <a href="{% url 'teamleads' %}" style="margin-left: 500px;">My DashBoard</a> 


<div class="row">

    <div class="col-md-6" style="margin-left: 200px;">
    
    <table>
        <thead>
            <tr>
              <th><strong> Response </strong></th>
            </tr>
          </thead>

          <tbody>
    
            <tr>

            <td>

                {% for s in app %}

                {% if s.status == 'reject' %}
                <p style="margin-top:15px;"><b style="color:red;">Assignment project has been {{ s.status }}ed by  Lead {{s.to_teamlead}} </b></p>

                {% elif s.status == 'accept' %}
                <p style="margin-top:15px;"><b style="color: green;">Assignment project has been {{ s.status }}ed by  Lead {{s.to_teamlead}} </b></p>

                {% elif s.status == None %}
                <p style="margin-top:15px;"><b>Assignment project is not responded yet by  Lead {{s.to_teamlead}} </b></p>

                {% endif %}

                <br>

                {% endfor %}

            </td>

            </tr>

        </tbody>

    </table>


{% endblock %}
