{% extends 'dash.html' %}

{% load crispy_forms_tags %}


{% block content %}

Developer {{user.username}} write your application :


<div class="row box2">

	<div class="col-md-5 box1">

	<center><h1 style="font-family:bold;color:black;margin-bottom:50px">Your Project Assignment </h1></center>
	<br>

    <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Submit Assignment</button>
      </form>

    </div>

</div>

<script> 
  {% comment %} const button = document.getElemenstById("Adminpagebtn"); {% endcomment %}
  document.getElementById("devprojectbtn").focus();
  document.getElementById("devprojectbtn").style.backgroundColor = '#e9ecef';
  document.getElementById("devprojectbtn").style.color = '#495057';
  {% comment %} button.classList.toggle("list-group-item-light") {% endcomment %}
</script>

{% endblock %}
