{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}

Developer {{user.username}} write your application :


<div class="row box2">

	<div class="col-md-5 box1">

	<center><h1 style="font-family:bold;color:black;margin-bottom:50px">Your Project Assignment </h1></center>
	<br>

    <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Submit Assignment</button>
      </form>

    </div>

</div>

{% endblock %}
