{% extends 'dash.html' %}

{% load crispy_forms_tags %}


{% block content %}

Developer {{user.username}} :


<div class="row">

	{% comment %} <div class="col-md-5 box1"> {% endcomment %}
    {% for prj in pdata %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Project Name: {{ prj.project_name }} </h5>
        
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Project Lead : {{ prj.to_lead }}</li>       
       
      </ul>
      <div class="card-body">

        {% if prj.status == "inprogress" %}


        <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="answer" value="{{ prj.id }}">                    
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Submit Assignment</button>
          </form>
          {% else %}
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Submitted</h4>
            <p>You Have submitted this project</p>           
            
          </div>


          </div>
        
        
        </div>
    
          {% endif %}
    
       
     
    

	
	

    {% comment %} </div> {% endcomment %}
    



{% endfor %}
<script> 
  {% comment %} const button = document.getElemenstById("Adminpagebtn"); {% endcomment %}
  document.getElementById("devprojectbtn").focus();
  document.getElementById("devprojectbtn").style.backgroundColor = '#e9ecef';
  document.getElementById("devprojectbtn").style.color = '#495057';
  {% comment %} button.classList.toggle("list-group-item-light") {% endcomment %}
</script>

{% endblock %}
