{% extends 'base.html' %}

{% block content %}

Welcome Developer {{user.username}}


    <div class="row" style="padding-top: 70px;padding-bottom: 50px;">
        
      <div class="col-md-6" style="margin-left: 200px;">
  
        <a href="sprojectApp" class="btn btn-developer btn-lg" style="background-color:#645F5E;" role="button">Send Project Application</a>
          
      </div>
  
      <div class="col-md-6" style="margin-left: -200px;">
  
        <a href="ShowTResp" class="btn btn-developer btn-lg" style="background-color:#645F5E;" role="button"> View Application Response</a>

      </div>


{% endblock %}
