{% extends 'dash.html' %}

{% block content %}

<p style="margin-top: 10px;"> Welcome Developer <strong>{{user.username}}</strong> 
  

<center><a href="sprojectApp" style="margin-top:50px;margin-bottom:20px; " class="btn btn-developer btn-lg" role="button">Submit Project Assignment</a></center>
<center><a href="ShowTResp" style="margin-top:50px;margin-bottom:20px; " class="btn btn-developer btn-lg" role="button">View Submission Response</a></center>



      <script> 
        {% comment %} const button = document.getElemenstById("Adminpagebtn"); {% endcomment %}
        document.getElementById("devpagebtn").focus();
        document.getElementById("devpagebtn").style.backgroundColor = '#e9ecef';
        document.getElementById("devpagebtn").style.color = '#495057';
        {% comment %} button.classList.toggle("list-group-item-light") {% endcomment %}
      </script>

{% endblock %}
