{% extends 'dash.html' %}

{% load crispy_forms_tags %}

{% block content %}


<div class="row box2">

	<div class="col-md-auto box1">

	<font size ="5px;"; style="color:black;">Assign Project to Developer </font> 
	<br><br>

  <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">

<div class="col-lg-11 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><strong>Projects</strong></h4>
                  <p class="card-description">
                    Data
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="bg-light">
                        <tr>
                          <th>Project Name</th>
                          <th>Details</th>                                                   
                          <th>Last Date</th>
                          <th>Curremt Developers</th>
                          <th>Developer Assignment</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in data %}
                             <tr>
                                <td>{{ item.project_name }}</td>
                                <td>{{ item.details }}</td>                           
                                <td>{{ item.end_date }}</td>
                                <td>
                                  {% if passigment.developers.exists %} 
                                  {% for developer in passigment.developers.all %}
                                      {{ developer.user.username }},
                                  {% endfor %}
                              {% else %} 
                                Not Assigned
                              
                              {% endif %}  </td>
                                <td><form method="post">
                                  {% csrf_token %}
                                  <input type="hidden" name="answer" value="{{ item.id }}">
                                  <br>
                                  {{ form.developers }}
                                  <br>
                                  <button class="button btn-success" type="submit" >Assign Dev</button>
                              </form></td>
                                
                                {% comment %} <td><label class="badge badge-danger">Pending</label></td> {% endcomment %}
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            </div>
              </div>
            </div> 



 
    {% comment %} <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Assign</button>
      </form> {% endcomment %}

    </div>

</div>

<script> 
  {% comment %} const button = document.getElemenstById("Adminpagebtn"); {% endcomment %}
  document.getElementById("assignProj").focus();
  document.getElementById("assignProj").style.backgroundColor = '#e9ecef';
  document.getElementById("assignProj").style.color = '#495057';
  {% comment %} button.classList.toggle("list-group-item-light") {% endcomment %}
</script>

{% endblock %}
