{% extends 'dash.html' %}

{% load crispy_forms_tags %}

{% block content %}


<div class="row box2">

	<div class="col-md-auto box1">

	<font size ="5px;"; style="color:black;">Send Project Update </font> 
	<br><br>

    <form method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Submit Assignment</button>
      </form>

    </div>

</div>

<script> 
  {% comment %} const button = document.getElemenstById("Adminpagebtn"); {% endcomment %}
  document.getElementById("tappbtn").focus();
  document.getElementById("tappbtn").style.backgroundColor = '#e9ecef';
  document.getElementById("tappbtn").style.color = '#495057';
  {% comment %} button.classList.toggle("list-group-item-light") {% endcomment %}
</script>

{% endblock %}
