{% extends 'dash.html' %}

{% load crispy_forms_tags %}

{% block content %}

<p style="margin-top: 10px;"> Welcome Team lead <strong>{{user.username}}</strong> 
  {% comment %} <a href="{% url 'adminpage' %}"  style="margin-left: 500px;">My DashBoard</a></p> {% endcomment %}

<center><a href="Showapp" style="margin-top:50px;margin-bottom:20px; " class="btn btn-developer btn-lg" role="button">Show Developer Submissions</a></center>
<center><a href="tprojectApp" style="margin-top:50px;margin-bottom:20px; " class="btn btn-developer btn-lg" role="button">Submit Project Assignment</a></center>
<center><a href="TAppStatus" style="margin-top:50px;margin-bottom:50px; " class="btn btn-developer btn-lg" role="button">Show Admin Approvals</a></center>



  <script> 
    {% comment %} const button = document.getElemenstById("Adminpagebtn"); {% endcomment %}
    document.getElementById("teamleadbtn").focus();
    document.getElementById("teamleadbtn").style.backgroundColor = '#e9ecef';
    document.getElementById("teamleadbtn").style.color = '#495057';
    {% comment %} button.classList.toggle("list-group-item-light") {% endcomment %}
  </script>
  
{% endblock %}
