{% extends 'dash.html' %}

{% block content %}

<p style="margin-top: 10px;"> Welcome Admin <strong>{{user.username}}</strong> </p>




 <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">

<div class="col-lg-11 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"><strong>Projects</strong></h4>
                  <p class="card-description">
                    Data
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="bg-light">
                        <tr>
                          <th>Project Name</th>
                          <th>Details</th>
                          <th>Team Lead</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in data %}
                             <tr>
                                <td>{{ item.project_name }}</td>
                                <td>{{ item.details }}</td>
                                <td>{{ item.to_lead }}</td>
                                <td>{{ item.start_date }}</td>
                                <td>{{ item.end_date }}</td>
                                <td>                                  
                                  {% comment %} {% if item.developers.exists %}  {% endcomment %}
                                  {% comment %} {% if not item.status %} {% endcomment %}
                                  {% if item.status == "inprogress" %}
                                  <label class="badge badge-warning">InProgress</label>
                                  {% elif item.status == "submitted" %}
                                  <label class="badge badge-info">Submitted</label>
                                  {% elif item.status == "review" %}
                                  <label class="badge badge-primary">InReview</label>
                                  {% elif item.status == "completed" %}
                                  <label class="badge badge-success">Completed</label>
                                  {% else %} 
                                    <label class="badge badge-danger">Pending</label>                              
                                  {% endif %}                                 
                                
                                </td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            </div>
              </div>
            </div> 





{% comment %} 
<div class="row" style="margin-top:30px;margin-bottom:50px;">

    <div class="col-md-12">

        {% for item in data %}

          <form method="POST">

            {%  csrf_token  %}


            <center style="margin-left:-120px;margin-top:70px "><strong>{{ s.content }} by teamlead {{s.user}}.</strong><strong style="margin-left:60px;">Your Response : </strong> This Assignment is {{ s.status }}</center>

            <div class="row">
        
                <div class="col-md-6" style="margin-left:200px;">
            
                    <input class="btn btn-developer btn-success" type="submit" value="accept" name="status">
                    
                </div>
            
                <div class="col-md-2" style="margin-left: -200px; font-size: 3px; ">
            
                    <input class="btn btn-danger" style ="font-size: 11px; " type="submit" value="reject" name="status">

                </div>
            
                <input type="hidden" name="answer" value="{{ s.id }}">


        </div>

            </form>    

          {% endfor %}


        </div>
    </div>  {% endcomment %}

<br><br>


<script> 
    
    {% comment %} const button = document.getElemenstById("Adminpagebtn"); {% endcomment %}
    document.getElementById("viewProjbtn").focus();
    document.getElementById("viewProjbtn").style.backgroundColor = '#e9ecef';
    document.getElementById("viewProjbtn").style.color = '#495057';
    {% comment %} button.classList.toggle("list-group-item-light") {% endcomment %}
</script>

{% endblock %}
